@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.root {
  max-height: fit-content;
}
.form-card {
  justify-content: center;
  display: flex;
  width: 60%;
  background-color: white;
  border-radius: 2em;
  padding: 10em;
  margin: 0em;
  // height: 100vh;
  box-shadow: 1em 1em 3em #c9c9c9;
  .add-class {
    height: fit-content;
  }
  .field {
    padding: 0.3em;
  }
  label {
    font-size: large;
    font-weight: 300;
  }
  .control {
    width: 100%;
    height: 10em;
    padding: 1em;
    font-size: large;
    color: #333;
    border: 1px solid #333;
    margin-top: 0.1em;
  }
  .control-2 {
    width: 100%;
    height: 2em;
    color: #333;
  }
  .is-grouped {
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    width: 6em;
  }
}

.add-class {
  align-self: center;
}
.heading1 {
  background-color: #333;
  padding: 1em;

  font-size: x-large;
  font-weight: 500;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: -8rem;
  margin-top: 0rem;

  color: #333;

  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    #ff7e7e 3%,
    #ddd8f5 25%,
    #f9bbff 55%,
    #bbffc4 100%
  );
  animation: AnimateBG 16s ease infinite;

  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.background {
  background-color: whitesmoke;
}

.body-ctn {
  // background-color: #FFE5B4;
  // flex-direction: column;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

@media (max-width: 820px) {
  .form-card {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .form-card {
    width: 100%;
  }
}
