@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.is-rounded{
    padding:0em;
    
    background-image: linear-gradient(to left, #4f8ed5, #0a39b9);

}
button.button.is-info.is-rounded {
    padding-top: 1em;
    padding-bottom: 1.25em;
    // width: auto;
    align-self: center;
    margin-bottom: 1em;
    font-size: x-large;
}

.body-container {
    // background-image: linear-gradient(29deg, #dcc4ff 50%, #a5dbff 50%);
    min-height: 100vh;
    width: 100%;
    display:  grid;
    grid-template-columns: 1fr 1fr;
    background-color: #D2DAFF;
    
    img{
        width:25em;
    }

    // target section
    section {
        padding: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .signup-container {
            max-width: 600px;
            padding: 24px;
            padding-top: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .title {
                text-transform: uppercase;
                font-size: 3em;
                font-weight: bold;
                text-align: center;
                letter-spacing: 1px;
            }
            .separator {
                width: 150px;
                height: 4px;
                background-color: #277bc0;
                margin: 24px;
            }
            .welcome-message {
                text-align: center;
                font-size: 1.2em;
                line-height: 28px;
                margin-bottom: 30px;
                color: #696969;
            }
            .signup-form {
                width: 100%;
                display: flex;
                flex-direction: column;
                
                .form-control {
                    width: 100%;
                    position: relative;
                    margin-bottom: 24px;
                    
                    input {
                        border: none;
                        outline: none;
                        border-radius: 30px;
                        font-size: 1.1em;
                        width: 100%;
                        background: #e6e6e6;
                        color: #333;
                        
                        letter-spacing: 0.5px;
                        padding: 14px 70px;
                         ~ {
                             i {
                                position: absolute;
                                left: 32px;
                                top: 50%;
                                font-size: 1.3rem;
                                transform: translateY(-50%);
                                color: #888;
                                transition: color 0.4s;
                             }
                         }
                         &:focus {
                             ~ {
                                 i {
                                     color: #277bc0;
                                 }
                             }
                         }
                    }
                }
                .error {
                    // border: 1px solid red;
                    text-decoration: none;
                    font-size: 12px;
                    text-align: center;
                    font-weight: 600;
                    letter-spacing: 1px;
                    color: rgba(255, 0, 0, 0.8);
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem 1rem;
                    font-family: 'Poppins';
                    background-color: rgba(255, 0, 0, 0.2);;
                    margin: .5rem .5rem;

                }
                .submit {
                    border: none;
                    outline: none;
                    border-radius: 30px;
                    font-size: 1.1em;
                    color: #fff;
                    padding: 14px 64px;
                    margin: 32px auto;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: bold;
                    background-image: linear-gradient(to right, #1a3152, #277bc0);
                    cursor: pointer;
                    transition: opacity 0.4s;
                    &:hover {
                        opacity: 0.4s;
                    }
                }
                .signup-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: thin;
                    font-size: 25px;
                }
                .sign-text {
                    letter-spacing: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    font-size: 20px;
                    text-transform: uppercase;
                    &:hover {
                        color:#277bc0;
                    }
                }
                
            }
        }
    }
}

.title{
    background-color: transparent; 
}
/** Responsiveness **/

@media (max-width: 805px) {
    .body-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .side {
            padding-bottom: 0px;
            width: 60%;
            margin-bottom: -60px;
            img {
                width: 350px;
                height: 450px;
            }
        }
    }
    .signup-container{
        padding-top: 0px;
    }
    
}

@media (max-width: 1340px) {
    .body-container {
        display: flex;
        // flex-direction: row;
        justify-content: center;
        align-items: center;
        .side {
            // display: none;
            img {
                width: 375px;
                height: 500px;
               
            }
        }
    }
    
}

@media (max-width: 980px) {
    .body-container {
        display: flex;
        // flex-direction: row;
        justify-content: center;
        align-items: center;
        .side {
            width: 70%;
            img {
                width: 350px;
                height: 450px;
            }
        }
    }
    
}

@media (max-width: 590px) {
    .body-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .side {
            display: flex;
            margin-bottom: -70px;
            width: 70%;
            margin-left: 5rem;
            .login-text {
                word-break: break-all;
            }
        }
    }
    .signup-container .title{

            font-size: .3em;

    }
}

@media (max-width: 380px) {
    .body-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .side {
            margin-top: -10rem;
            margin-bottom: -17rem;
            width: 70%;
            margin-left: 5rem;
            .login-text {
                word-break: break-all;
            }
        }
    }
    
}

