body {
    
}

.searchbar {
    width: 50rem;
    padding: 1.2rem;
    font-size: 1.25rem;
}
.inside{
    border: #333 solid;
    border-radius: 1rem;
}

.searchbar input{
    background-color: white !important;
    background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
    background-size: 20px;
    padding-left: 25px;
}

.profiles {
    display: flex;
    flex-direction: row;
}

.title {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}