
.profile {
    background-color: #b8d3ed;
    width: 25rem;
    height: 11rem;
    border-radius: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    margin: 1rem;

    .__button {
        background: none;
        border: none;
        float: right;

     padding-right: 1rem;


    }

    .__name {
        color: black;
        font-size: 2rem;
        font-weight: 600;
        line-height: 2rem;
        padding: 2px;

    }


    .__text{
        color: black;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 2rem;
        padding: 2px;
    }
}