@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
.navbar
{
    width:100%;
    padding: 1em;
    font-size: medium;
    box-shadow: 3px 3px 10px rgb(201, 201, 201);
    
}
.whitesmoke{
    background-color: rgb(239, 0, 0);
}
.navbar-brand{
    align-items: center;
    align-content: space-around;
}
strong{
    padding: 0;
    margin: 0;
    display:flex;
    flex-direction: column;
}
