// @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .body-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    // background: #4070f4;
    .container::before {
      opacity: 0.6;
    }
    .container {
      position: relative;
      max-width: 1000px;
      width: 100%;
      border-radius: 6px;
      padding: 8rem;
      margin: 0 15px;
      background-color: rgba(255, 255, 255, 0.6);
      box-shadow: 0 5px 10px rbga(0, 0, 0, 0.1);
      header {
        // position: relative;
        position: absolute;
        top: 1.5rem;
        width: 85%;
        font-size: 30px;
        font-weight: 600;
        color: #333;
        background-color: rgba(83, 180, 254, 0.2);
  
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          height: 3px;
          width: 2em;
          border-radius: 8px;
          background-color: rgba(83, 180, 254, 0.5);
        }
      }
    
  
      .form {
        // position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // background-color: #fff;
        transition: 0.3s ease;
        padding: 1rem;
        .title1 {
          font-size: 15px;
          width: 75vw;
          font-weight: bold;
          color: #333;
        }
        .fields {
          display: grid;
          grid-template-columns: 3fr 3fr 3fr;
          // display: flex;
          // flex-direction: row;
          // align-items: center;
          // justify-content: space-between;
          // flex-wrap: wrap;
  
          .input-field {
            display: flex;
            width: calc(100vh / 3);
            flex-direction: column;
            margin: 10px 10px;
            label {
              // margin-top: 10px;
              font-size: 13px;
              font-weight: 500;
              color: #2e2e22;
            }
            input {
              outline: none;
              font-size: 14px;
              font-weight: 400;
              color: #333;
              border-radius: 5px;
              border: 1px solid #aaa;
              padding: 0 15px;
              height: 42px;
              margin: 8px 0;
              &:focus {
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
              }
            }
            input[type="date"] {
              color: #707070;
              &:valid {
                color: #333;
              }
            }
            select {
              outline: none;
              font-size: 14px;
              font-weight: 400;
              color: #333;
              color: #707070;
              border-radius: 5px;
              border: 1px solid #aaa;
              padding: 0 15px;
              height: 42px;
              margin: 8px 0;
              &:focus {
                box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
              }
            }
          }
        }
      }
    }
  }
  
  @media(max-width: 890px){
      
      .body-container .container header {
      position: absolute;
      top: 1.5rem;
      width: 85%;
      font-size: 28px;
      font-weight: 600;
      text-align: center;
    }
  
    .form {
  
      .title1 {
        font-size: 14px;
      }
      .fields {
        display: grid;
        grid-template-columns: 3fr 3fr;
  
        .input-field {
          display: flex;
          width: calc(100vh / 3);
          flex-direction: column;
          margin: 10px 10px;
  
          label {
            font-size: 12px;
          }
          input {
            padding: 0 13px;
          }
  
        }
      }
    }
  }
  
  
  // @media(max-width: 390px){
      
  //     .body-container .container header {
  //     position: absolute;
  //     top: 1.5rem;
  //     width: 65%;
  //     font-size: 21px;
  //     font-weight: 600;
  //     text-align: center;
  //   }
  
  //   .form {
  
  //     .title1 {
  //       font-size: 13px;
  //     }
  //     .fields{
  //       display: grid;
  //       grid-template-columns: 3fr 3fr;
        
  //       .input-field {
  //         display: flex;
  //         width: calc(100vh / 3);
  //         flex-direction: column;
  //         margin: 10px 10px;
  
  //         label {
  //           font-size: 12px;
  //         }
  //         input {
  //           padding: 0 12px;
  //         }
  
  //       }
  //     }
  //   }
  // }
  
  // alternative 
  
  // *{
  //     margin: 0;
  //     padding: 0;
  // }
  
  // .body-container{
  //     height: 100vh;
  //     width: 100vw;
      
  // }
  
  // .container{
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: space-between;
  //     max-width: 75vw;
  // }
  
  // .first-form{
  //     display: flex;
  //     flex-direction: column;
  // }
  
  // .title1{
  //     margin: 10em 0;
  // }
  // .fields{
  //     display: grid;
  //     grid-template-columns: 3fr 3fr 3fr;
      
  // }